.recipeTile {
    cursor: pointer;
}

.recipeTile__img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.8;
    
}

.recipeTile__name {
    max-width: 200px;
    text-align: center;
    margin: 12px 0px;
    font-weight: 700;
    color: rgb(110, 119, 119);
}